li.list-group-item:nth-child(even){
    background-color:#eee;
}

.info{
    margin-left: 65px; 
    padding: 5px;
}
.price{
    margin-right: 10px;
}

.list_span{
    color: #34495e;
    font-weight: bold;
}

.list_span1{
    color: #34495e;
    font-weight: bold;
    margin-right: 10px;
}

.list_span2{
    color: #34495e;
    font-weight: bold;
    margin-right: 14px;
}

.list{
    color: #27ae60;
    font-weight: bold;
}

.list_price{
    margin-left: 20px;
}



.btn{
    padding-top:5px;
    padding-bottom: 5px;
}

.img{
    max-height: 100px;
}

.card{
    margin-bottom: 20px;
}

.add{
    margin-left: 5px;
}