li.list-group-item:nth-child(odd){
    background-color:#eee;
}

.info{
    margin-left: 65px; 
}
.price{
    margin-right: 10px;
}

span{
    color: #535c68;
    font-weight: bold;
}

.list{
    color:#22a6b3;
}

