li.list-group-item:nth-child(even){
    background-color:#eee;
}

.info{
    margin-left: 65px; 
}
.price{
    margin-right: 10px;
}

.list_span{
    color: #34495e;
    font-weight: bold;
}

.list{
    color: #27ae60;
    font-weight: bold;
}

.btn{
    padding-top:5px;
    padding-bottom: 5px;
}

.img{
    max-height: 100px;
}

.card{
    margin-bottom: 20px;
}