.items{
    margin-right: 600px; 
    margin-left: 5px;
    color: gray;
}

.nav-item{
    font-size: large;
    font-weight: bold;
    
}

.profile{
    margin-left: 5px;
    color: gray;
}

.categories{
    margin-left: 5px;
    color: gray;
    
}

.rounded-circle{
    width: 20px;
    height: 30px;
}



