.items{
    margin-right: 400px; 
    margin-left: 5px;
    color: gray;
}

.nav-item{
    font-size: large;
    font-weight: bold;
    
}

.home{
    margin-right: 300px; 
    
    font-size:30px;
    
}

.categories{
    margin-left: 5px;
    color: gray;
}

